.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200vh;
    height: 10vh;
    /* border: 2px solid green; */
    color: grey;
    font-size: 25px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform:capitalize ;
    margin-bottom: 10px;
    margin-top: 10px;
}
.home{
    text-decoration: none;
    color: #5e5e5e;
    font-size: 28px;
}
.home:hover{
    transform: scale(1.25);
    transition: 0.6s; 
}